extends layout

block content
  .container
    .content
      h2 站点正在重构
      p 在
        a.link(href='https://segmentfault.com/u/linkfly') segmentfault
        = '查看技术文章'
      a.button 在 github 查看开发进度