html {
  position: relative;
  min-height: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif; 
  body {
    height: 100%;
    width: 100%;
    background: url(/images/psb.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    margin: 0; 
    .container {
      height: 100%;
      width: 100%;
      position: relative; 
    }
    .link {
      position: relative; 
      &::after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        bottom: -5px;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform: scale(0);
        transition: transform 0.5s; 
      }
      &:hover::after {
        transform: scale(1); 
      }
    }

    .content {
      background-position: 70% center;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      transform: translate(0, -50%);
      color: #fff; 
      h2 {
        font-weight: 200;
        margin: 0; 
      }
      p {
        padding: 20px 0;
        margin: 0; 
        a {
          color: #009a61;
          margin: 0 5px;
          text-decoration: none; 
        }
      }
      .button {
        color: #fafafa;
        text-decoration: none;
        display: inline-block;
        border: 1px solid #fafafa;
        border-radius: 3px;
        padding: 10px 10px;
        transition: .4s; 
        &:hover {
          color: #666;
          background: #fafafa; 
        }
      }
    }
  }
}
